
<table class="table table-striped">
<thead>
  <tr>
    <th colspan="4">{{t "report.totalcount" count=count }}</th>
    <th colspan="2"><a href="data:{{{exportCSV}}}">{{t "report.export.csv"}}</a></th>
    <th><a href="data:{{{exportJSON}}}" download="receipts.json">{{t "report.export.json"}}</a></th>
  </tr>
  <tr>
    <th>{{t "receipt.productname"}}</th>
    <th>{{t "receipt.store"}}</th>
    <th>{{t "receipt.purchasedate"}}</th>
    <th>{{t "receipt.guaranteedate"}}</th>
    <th>{{t "receipt.registered"}}</th>
    <th>{{t "receipt.price"}}</th>
    <th>{{t "receipt.keywords"}}</th>
  </tr>
</thead>
<tbody>
{{#each receipts}}
<tr>
  <td><a href="#/receipt/view/{{id}}">
    {{#if name}}{{name}}{{else}} {{t "receipt.noname"}} {{/if}}
    </a>
  </td>
  <td>{{store}}</td>
  <td>{{datetime purchaseDate}}</td>
  <td>{{datetime warrantEndDate}}</td>
  <td>{{datetime registered}}</td>
  <td>{{price}}</td>
  <td>
  {{#each tags}}
    <span data-tag="{{this}}" class="tag-link badge badge-info hidden-xs">{{this}}</span>
  {{/each}}
  </td>
</tr>
{{/each}}
</tbody>
<tfooter>
<tr>
  <th colspan="7">{{t "report.totalcount" count=count }}</th>
</tr>
</tfooter>
</table>
