
<div id="receipt-edit-form" class="container bottom-margin">
  <div class="hero-unit">


    <div class="row" data-id="{{id}}">
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">

        <div class="panel panel-default">

          <div class="panel-heading">{{name}}</div>

          <div class="panel-body form-horizontal">

            <div class="form-group">
              <label for="name"
                     class="col-md-3 col-sm-3 control-label">
                Tuotteen nimi
              </label>
              <div class="col-md-9 col-sm-9">
                <input id="name" type="text" name="name" placeholder="Tuotteen nimi" class="form-control" value="{{name}}" {{#if readonly }}readonly{{/if}} />
              </div>
            </div>

            <div class="form-group">
              <label for="purchaseDate"
                     class="col-md-3 col-sm-3 control-label">
                Hankintapäivä
              </label>
              <div class="col-md-9 col-sm-9">
                <input id="purchaseDate" type="text" name="purchaseDate" class="datepicker form-control" value="{{{datetime purchaseDate}}}" {{#if readonly }}readonly{{/if}} />
              </div>
            </div>

            <div class="form-group">
              <label for="warrantlyEndDate"
                     class="col-md-3 col-sm-3 control-label">
                Takuupäättyy
              </label>
              <div class="col-md-9 col-sm-9">
                <input id="warrantlyEndDate" type="text" name="warrantlyEndDate" class="datepicker form-control" value="{{{datetime warrantlyEndDate}}}" {{#if readonly }}readonly{{/if}} />
              </div>
            </div>

            <div class="form-group">
              <label for="store"
                     class="col-md-3 col-sm-3 control-label">
                Kauppa
              </label>
              <div class="col-md-9 col-sm-9">
                <input id="store" type="text" name="store" placeholder="Hankintapaikka" class="form-control" value="{{store}}" {{#if readonly }}readonly{{/if}} />
              </div>
            </div>

            <div class="form-group">
              <label for="price"
                     class="col-md-3 col-sm-3 control-label">
                Tuotteen hinta
              </label>
              <div class="col-md-9 col-sm-9">
                <input id="price" type="text" name="price" placeholder="20 €" class="form-control" value="{{price}}" {{#if readonly }}readonly{{/if}} />
              </div>
            </div>

            <div class="form-group">
              <label for="registered"
                     class="col-md-3 col-sm-3 control-label">
                Rekisteröity
              </label>
              <div class="col-md-9 col-sm-9">
                <input id="registered" type="text" name="registered" class="datepicker form-control" value="{{{datetime registered}}}" {{#if readonly }}readonly{{/if}} />
              </div>
            </div>

            <div class="form-group">
              <label for="description"
                     class="col-md-3 col-sm-3 control-label">
                Muuta
              </label>
              <div class="col-md-9 col-sm-9">
                <textarea id="description" name="description" class="form-control shadow" {{#if readonly }}readonly{{/if}}>{{description}}</textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="tags"
                     class="col-md-3 col-sm-3 control-label">
                Avainsanat
              </label>
              <div class="col-md-9 col-sm-9">
                <input id="tags" type="text" name="tags" class="tags form-control" value="{{tags}}" {{#if readonly }}readonly{{/if}} />
              </div>
            </div>

            <div class="row top-margin horizontal-margin">
              <div class="col-md-12 dropzone">
              </div>
            </div>

            <div class="row top-margin hidden-sm hidden-xs">
              <div class="col-lg-6 col-md-6">
                <button type="button" name="delete" class="btn btn-danger">Poista</button>
                <button type="button" name="clone" class="btn btn-default">Monista</button>
              </div>
              <div class="col-lg-6 col-md-6 text-right">
                {{#unless readonly}}
                <button type="button" name="save" class="btn btn-default">Tallenna</button>
                {{/unless}}
                {{#if id}}
                <a href="#receipt/view/{{id}}">
                  <button type="button" name="cancel" class="btn btn-default">Peruuta</button>
                </a>
                {{else}}
                <a href="#">
                  <button type="button" name="cancel" class="btn btn-default">Peruuta</button>
                </a>
                {{/if}}
              </div>
            </div>

            <div class="row top-margin hidden-lg hidden-md">
              <div class="col-sm-12 col-xs-12">
                <button type="button" name="delete" class="btn btn-danger">Poista</button>
                <button type="button" name="clone" class="btn btn-default">Monista</button>
                {{#unless readonly}}
                <button type="button" name="save" class="btn btn-default">Tallenna</button>
                {{/unless}}
                {{#if id}}
                <a href="#receipt/view/{{id}}">
                  <button type="button" name="cancel" class="btn btn-default">Peruuta</button>
                </a>
                {{else}}
                <a href="#">
                  <button type="button" name="cancel" class="btn btn-default">Peruuta</button>
                </a>
                {{/if}}
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
</div>
