
<nav id="menu-bar" class="navbar navbar-default navbar-static">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand title" href="#">{{t "main-menu.title"}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {{#equals active "receipts"}}class="active"{{/equals}}><a href="#">{{t "main-menu.receipts"}}</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li {{#equals active "reports"}}class="active"{{/equals}}><a href="#/reports">{{t "main-menu.reports"}}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="#user" class="user">{{ user.username }} </a>
        </li>
        {{#if user}}
        <li class=""><a href="#logout">{{t "main-menu.sign-out" username=user.username }} </a></li>
        {{else}}
        <li class="active"><a href="#login">{{t "main-menu.sign-in"}}</a></li>
        {{/if}}
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
