
<div class="container center-block">
  <div class="hero-unit">

    <div class="row bottom-margin" data-id="{{id}}">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {{#if error}}

        <div class="row top-margin ">
          <div class="col-md-12 text-center">
            {{error.message}}
          </div>
        </div>

        <div class="row top-margin ">
          <div class="col-md-12 text-right">
            <a href="#receipt/view/{{id}}">
              <button type="button" name="cancel" class="btn btn-default">Takaisin</button>
            </a>
          </div>
        </div>

        {{else}}
        <div class="row top-margin ">
          <div class="col-md-12 text-right">
            <button type="button" name="delete" class="btn btn-danger">Poista</button>

            <a href="#receipt/view/{{id}}">
              <button type="button" name="cancel" class="btn btn-default">Takaisin</button>
            </a>
          </div>
        </div>

        <div class="row top-margin ">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img class="col-md-12" src="{{img}}" />
          </div>
        </div>

        <div class="row top-margin ">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-striped">
              <tr><td>Tiedoston nimi</td><td>{{file.filename}}</td></tr>
              <tr><td>Alkuperäinen tiedoston nimi</td><td>{{file.originalFilename}}</td></tr>
              <tr><td>Koko</td><td>{{file.size}} b</td></tr>
              <tr><td>Korkeus</td><td>{{file.height}} px</td></tr>
              <tr><td>Leveys</td><td>{{file.width}} px</td></tr>
              <tr><td>Luotu</td><td>{{datehourminutetime file.created}}</td></tr>
            </table>
          </div>
        </div>

        {{/if}}

      </div>
    </div>

  </div>
</div>

