<div class="row">
  <div class="col-md-12">

    <div class="list-group top-margin">
      {{#each receipts}}
         <a href="#receipt/view/{{id}}" class="list-group-item">
          <b>{{name}}</b> {{datetime purchaseDate}}
          {{#each tags}}
            <span data-tag="{{this}}" class="tag-link badge badge-info hidden-xs">{{this}}</span>
          {{/each}}
        </a>
      {{else}}
        <a href="#" class="list-group-item">
          Ei yhtään kuitteja saatavilla       
        </a>
      {{/each}}
    </div>

    {{#if showPagination}}
    <nav class="text-center">
      <ul class="pagination">
        <li>
          <a href="#/receipts/{{previousPage}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each pages}}
            <li {{#if active}}class="active"{{/if}}><a href="#receipts/{{page}}">{{page}}</a></li>
        {{/each}}
        <li>
          <a href="#/receipts/{{nextPage}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    {{/if}}
  </div>
</div>
