<div class="row receipt-menu">


  <!-- Buttons for sm and xs -->
  <div class="hidden-lg hidden-md hidden-sm col-sm-4 col-xs-12 receipt-menu-item">
    <div class="btn-group" role="group" aria-label="...">
      <button data-sort="name" data-order="{{sort.order}}" type="button" class="btn btn-default sort">Nimi</button>
      <button data-sort="purchaseDate" data-order="{{sort.order}}" type="button" class="btn btn-default sort">Päivämäärä</button>
    </div>

    <div class="btn-group pull-right" role="group" aria-label="...">
      <a href="#/receipt/new">
        <button data-sort="name" type="button" class="btn btn-default">Uusi</button>
      </a>
    </div>

    <div class="hidden-lg hidden-md receipt-menu-item">
      <div class="input-group pull-right">
        <input type="text" class="form-control search-input-reqular"
                           placeholder="Search" name="search" value="{{searchText}}">
        <div class="input-group-btn">
            <button class="btn btn-default search-btn" data-searchinput=".search-input-reqular" type="button"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </div>

  </div>
  <!-- End of Buttons for sm and xs -->

  <!-- Buttons for md, lg -->
  <div class="hidden-xs col-md-4 col-sm-4 receipt-menu-item">
    <div class="btn-group" role="group" aria-label="...">
      <button data-sort="name" data-order="{{sort.order}}" type="button" class="btn btn-default sort">Nimi</button>
      <button data-sort="purchaseDate" data-order="{{sort.order}}" type="button" class="btn btn-default sort">Päivämäärä</button>
    </div>
  </div>

  <div class="hidden-xs col-md-7 col-sm-7 col-sm-12 receipt-menu-item">
    <div class="input-group pull-right">
      <input type="text" class="form-control search-input-small"
                         placeholder="Search" name="search">
      <div class="input-group-btn">
          <button class="btn btn-default search-btn" type="button" data-searchinput=".search-input-small"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </div>

  <div class="hidden-xs  col-md-1 col-sm-1 col-xs-12 receipt-menu-item">
    <div class="btn-group pull-right" role="group" aria-label="...">
      <a id="receipt-new" href="#/receipt/new">
        <button data-sort="name" type="button" class="btn btn-default">Uusi</button>
      </a>
    </div>
  </div>

    <!-- End of Buttons for md, lg -->
</div>
